#root {
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(45deg, #ff8f8f, #cef0ee);
}

.title {
  font-size: 4.5rem;
  font-weight: 800;
  color: black;
  margin: 0;
  letter-spacing: -0.05em;
}

@media (max-width: 768px) {
  #root {
    padding: 0.5rem;
  }

  .header {
    padding: 1rem 0;
  }
  .title {
    font-size: 3rem;
  }
}
